<!-- You have three partials defined. Now you can include them in your views. -->

<!-- The hyphen tells EJS to render raw HTML. -->
<!-- The path to the partial is relative to the current file. -->

<!-- Rendering a Single Variable in EJS -->
<!-- To echo a single variable, you can use <%= tagline %>. -->

<!-- Looping Over Data in EJS -->
<!-- To loop over data, you can use .forEach. -->

<!-- Passing Data to a Partial in EJS -->
<!-- The EJS partial has access to all the same data as the parent view. But be careful. If you are referencing a variable in a partial, it needs to be defined in every view that uses the partial or it will throw an error. -->

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>This is great</h1>
    <p>Welcome to templating using EJS</p>

    <!-- This code will display the tagline value on the Index page: -->
    <h2>Variable</h2>
    <p><%= tagline %></p>
  
    <ul>
      <% mascots.forEach(function(mascot) { %>
        <li>
          <strong><%= mascot.name %></strong>
          representing <%= mascot.organization %>,
          born <%= mascot.birth_year %>
        </li>
      <% }); %>
    </ul>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>